* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #1a1e23;
  color: white;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.hero {
  background-image: url(../Images/triathlon-452573_1920.jpg);
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.inquiry-form {
  background: white;
  padding: 20px;
  width: 500px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  backdrop-filter: blur(2rem);
  color: #426696;
  /* border: solid 3px blanchedalmond; */
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.inquiry-form h3 {
  font-size: 24px;
  margin: 0;
}

.inquiry-form p {
  margin: 5px 0 15px 0;
}

.form-input {
  border: 1px solid #28bdd6;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 15px;
}

.inquiry-form label {
  margin: 0 5px;
}

.inquiry-form button {
  color: white;
  background-color: #28bdd6;
  border: 2px solid white;
  border-radius: 1rem;
  padding: 10px 20px;
  font-size: 20px;
  width: 80%;
  font-weight: bold;
}

.inquiry-form button:hover {
  color: #28bdd6;
  background-color: white;
  border: 2px solid #28bdd6;
}

.buttonholder {
  text-align: center;
}

img {
  width: 150px;
  height: 50px;
}

.navbar {
  /* position: relative; */
  /* padding-bottom: 12px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .line {
  height: 2px;
  position: absolute;
  bottom: 0;
  margin: 10px 0 0 0;
  background: #28bdd6;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 40px 0 0;
  opacity: 0.4;
  transition: all 0.4s ease;
}
nav ul li:hover {
  opacity: 0.7;
}
nav ul li.active {
  opacity: 1;
}
nav ul li:last-child {
  margin-right: 0;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 14px;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; } */
